@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */



:root  {
  --background: 45.4 0% 95%;
  --foreground: 45.4 0% 0%;
  --card: 45.4 0% 90%;
  --card-foreground: 45.4 0% 10%;
  --popover: 45.4 0% 95%;
  --popover-foreground: 45.4 95% 0%;
  --primary: 45.4 93.4% 47.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 45.4 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 7.399999999999999 10% 85%;
  --muted-foreground: 45.4 0% 35%;
  --accent: 7.399999999999999 10% 80%;
  --accent-foreground: 45.4 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 45.4 0% 90%;
  --border: 45.4 20% 50%;
  --input: 45.4 20% 18%;
  --ring: 45.4 93.4% 47.5%;
  --radius: 0.3rem;
}
.dark  {
  --background: 45.4 10% 5%;
  --foreground: 45.4 0% 90%;
  --card: 45.4 0% 0%;
  --card-foreground: 45.4 0% 90%;
  --popover: 45.4 10% 5%;
  --popover-foreground: 45.4 0% 90%;
  --primary: 45.4 93.4% 47.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 45.4 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 7.399999999999999 10% 15%;
  --muted-foreground: 45.4 0% 60%;
  --accent: 7.399999999999999 10% 15%;
  --accent-foreground: 45.4 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 45.4 0% 90%;
  --border: 45.4 20% 18%;
  --input: 45.4 20% 18%;
  --ring: 45.4 93.4% 47.5%;
  --radius: 0.3rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}